body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: lightgrey;
  padding: 10px 0;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 5vh;
}

form {
  max-width: 800px;
  margin: 10px auto auto auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

form * {

}

label {
  min-width: 10%;
}

input, select, textarea {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 3px;
}

input {
  width: 60%;
}

select {

}

textarea {
  width: 80%;
  resize: none;
}

input[type=number] {
  width: auto;
}

input[type=submit] {
  width: 30%;
  margin: 0 auto;
  position: center;
  display: block;
}

#bottomButton {
  margin-top: 20px;
}

div.testForm {
  margin-top: 0;
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
  background-color: #eeeeee;
}


div#divNames, div#divCountDownload {
  column-count: 2;
}

div#divNames div, div#divCountDownload div {
  width: 100%;
  float: left;
}

.testDetails div {
  width: 50%;
  float: left;
}

.argument, .target {
  width: 97%;
}

.testType {
  visibility: hidden;
}